<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.classsystem.dao.ClassMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.classsystem.entity.Class">
        <result column="id" property="id" />
        <result column="class_name" property="className" />
        <result column="class_num" property="classNum" />
        <result column="class_introduce" property="classIntroduce" />
        <result column="class_code" property="classCode" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, class_name, class_num, class_introduce, class_code, create_date, update_date
    </sql>

</mapper>
