<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.classsystem.dao.CourseResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.classsystem.entity.CourseResource">
        <id column="id" property="id" />
        <result column="course_resource_name" property="courseResourceName" />
        <result column="resource_des" property="resourceDes" />
        <result column="resource_type" property="resourceType" />
        <result column="resource_path" property="resourcePath" />
        <result column="user_id" property="userId" />
        <result column="course_id" property="courseId" />
        <result column="class_id" property="classId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_resource_name, resource_des, resource_type, resource_path, user_id, course_id, class_id, create_time
    </sql>
    <!--我的课件库 -->
    <select id="queryMyCourse" parameterType="String" resultType="com.code.classsystem.entity.CourseResource">
        select c1.*
            from course_resource c1 left join course c2 on c1.course_id=c2.id
				  left join class_course c4 on c4.course_id=c2.id
                  left join class_user c3 on c3.class_id=c4.class_id
        where c3.member_id=#{userId}
    </select>
</mapper>
