<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.classsystem.dao.PaperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.classsystem.entity.Paper">
        <id column="id" property="id" />
        <result column="paper_name" property="paperName" />
        <result column="paper_score" property="paperScore" />
        <result column="paper_time" property="paperTime" />
        <result column="answer_begin_time" property="answerBeginTime" />
        <result column="answer_end_time" property="answerEndTime" />
        <result column="publish_user_id" property="publishUserId" />
        <result column="publish_time" property="publishTime" />
        <result column="answer_user_id" property="answerUserId" />
        <result column="class_id" property="classId" />
        <result column="student_num" property="studentNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, paper_name, paper_score, paper_time, answer_begin_time, answer_end_time, publish_user_id, publish_time, answer_user_id, class_id, student_num
    </sql>

    <select id="listPage" resultType="com.code.classsystem.vo.PaperInfoVo" parameterType="com.code.classsystem.entity.Paper">
          SELECT paper.id ,course.course_name,class.class_name,paper.paper_name,paper.paper_time,paper.paper_score
            from paper
            left join course on course.id=paper.course_id
            LEFT join class on class.id=paper.class_id
          WHERE paper.publish_user_id=#{publishUserId}
    </select>

    <select id="queryMyPaper" resultType="com.code.classsystem.entity.Paper" parameterType="String">
        SELECT paper.*
            from paper LEFT JOIN class on paper.class_id=class.id
            LEFT join class_user on class_user.class_id=class.id
        WHERE class_user.member_id=#{userId}
    </select>

    <select id="queryPaperResult" resultType="com.code.classsystem.vo.PaperResultBinVo" parameterType="String">
        select paper_id,class_id,class_name,(get_score/total_score) good_rate from (
                    select p1.paper_id,c2.id,c2.class_name,sum(p1.score) total_score,sum(p2.score) get_score,p3.class_id
                                from user_question p2 left join paper_question p1 on p1.id=p2.question_id
                                left join class_user c1 on c1.member_id=p2.user_id
                                left JOIN class c2 on c2.id=c1.class_id
                                left join paper p3 on p3.id=p1.paper_id and p3.class_id=c2.id
                                LEFT join course c3 on c3.class_id=c2.id
                    WHERE  p2.user_id is not null and p3.class_id is not NULL and c3.id=#{courseId}
				GROUP BY c2.id,c2.class_name,p1.paper_id,p3.class_id)a
    </select>

</mapper>
