<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.classsystem.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.classsystem.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="user_num" property="userNum"/>
        <result column="user_avater" property="userAvatar"/>
        <result column="role_id" property="roleId"/>
        <result column="login_ip" property="loginIp"/>
        <result column="login_time" property="loginTime"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="is_delete" property="isDelete"/>
        <result column="is_used" property="isUsed"/>
    </resultMap>

    <resultMap id="UserInfoResultMap" type="com.code.classsystem.vo.UserInfoVo" extends="BaseResultMap">
        <result column="roleType" property="roleType"/>
        <result column="roleCode" property="roleCode" />
        <result column="sexType" property="sexType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, sex, account, password, user_num, user_avater, role_id, login_ip, login_time, create_date, update_date, is_delete, is_used
    </sql>

    <select id="listPage" resultMap="UserInfoResultMap" parameterType="com.code.classsystem.entity.User">
  select DISTINCT t.*,r.role_name as roleType,
   (CASE WHEN t.sex = 0 THEN '男'
     WHEN t.sex = 1 THEN '女'
    ELSE '男' END) as sexType
     from user t
    inner join role  r on t.role_id = r.id
    inner join class_user  cu
    on t.id = cu.member_id
    <where>
    <if test=" id != null ">
        cu.class_id in (select class_id from class_user cu2 where cu2.member_id = #{id} )
        and t.role_id = 1
    </if>
    </where>
        order by t.name
</select>
    <select id="getUserInfoByUserId" resultMap="UserInfoResultMap" parameterType="string">
  select t.*,
  r.role_name as roleType,
  r.role_code as roleCode,
  (CASE WHEN t.sex = 0 THEN '男'
     WHEN t.sex = 1 THEN '女'
    ELSE '男' END) as sexType
   from user t
    inner join role  r on t.role_id = r.id
    where t.id = #{userId}
</select>

</mapper>
