<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.classsystem.dao.UserSignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.classsystem.entity.UserSign">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="sign_time" property="signTime" />
        <result column="sign_place" property="signPlace" />
        <result column="sign_in" property="signIn" />
<!--        <result column="sign_out" property="signOut" />-->
        <result column="ip" property="ip" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, sign_time, sign_place, sign_in, sign_out, ip
    </sql>

    <select id="querySignInfo" resultType="com.code.classsystem.vo.SignVo">
         select class_user.member_id userId,course.class_id,course.id course_id,sign_place, MAX(case sign_in when 1 then sign_time else  null end )signPreTime,
              MAX(case sign_in when 0 then sign_time else  null end )signNextTime ,course.begin_time,course.end_time
              from course left join user_sign ON course.id = user_sign.course_id AND course.class_id = user_sign.class_id
              left join class_user on class_user.class_id=course.class_id
         where class_user.member_id=#{userId} and course.class_id=#{classId} and course.id=#{courseId} group by user_id,class_id,course_id,sign_place
    </select>

</mapper>
